/* Coolors Exported Palette - coolors.co/f7c8e7-ffd8ea-ffc747-ffbd6b-ffb340 */

/* HSL */
$color1: hsla(320%, 75%, 88%, 1);
$color2: hsla(332%, 100%, 92%, 1);
$color3: hsla(42%, 100%, 64%, 1);
$color4: hsla(33%, 100%, 71%, 1);
$color5: hsla(36%, 100%, 63%, 1);

/* RGB */
$color1: rgba(247, 200, 231, 1);
$color2: rgba(255, 216, 234, 1);
$color3: rgba(255, 199, 71, 1);
$color4: rgba(255, 189, 107, 1);
$color5: rgba(255, 179, 64, 1);
