
body {
  background: url("cameron-kirby-74957.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
}

h1 {
  color: #8162BC;
  width: 100%;
  text-align: center;
}


.image {
  background: rgba(255, 255, 255, 0.7);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-size: cover;
  height: auto;
  overflow-x: hidden;
  padding-bottom: 3%;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.image.mod {
  border-radius: 0;
  overflow: hidden;
  padding-top: 3%;
}


input[type=text] {
  border-radius: 10px;
  width: 100%;
  font-size: 20px;
  height: 65px;
}

#app {
  opacity: 1.0;
}


.master {
  color: #FBEBD8;
}

.hidden {
  visibility: collapse;
  height: 0;
}

.new-trip {
  background-color: #B9AA8C;
  margin: auto;
  padding: 50px;
  border-radius: 25%;
}

.add-new:hover {
  background: rgba(94, 102, 188, 0.5);
}

.add-new {
  color: #172804;
  background: rgba(189, 151, 108, 1.0);
  position: relative;
  justify-content: center;
  margin-bottom: 0;
  box-shadow:
    0 1px 2px gray,
    0 -1px 1px gray,
    inset 0 -1px 1px rgba(0,0,0,0.5),
    inset 0 1px 1px rgba(255,255,255,0.8);
}

.submit-button {
  background: rgba(189, 151, 108, 0.8);
  box-shadow:
    0 1px 2px #5E66BC,
    0 -1px 1px #5E66BC,
    inset 0 -1px 1px rgba(0,0,0,0.5),
    inset 0 1px 1px rgba(255,255,255,0.8);
}

.submit-button:active {
  box-shadow: 0 0 #5E66BC;
}

.submit-button:hover {
  box-shadow:
    0 1px 2px #5E66BC,
    0 -2px 1px #5E66BC,
    inset 0 -2px 1px rgba(0,0,0,0.5),
    inset 0 1px 1px rgba(255,255,255,0.8);
}

.trip-form {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 15px;
  padding: 5% 5%;
  border-radius: 25px;
  background-color: rgba(152, 157, 212, 0.5);
  opacity: 1.0;
  box-shadow:
    0 1px 2px gray,
    0 -1px 1px gray,
    inset 0 -1px 1px rgba(0,0,0,0.5),
    inset 0 1px 1px rgba(255,255,255,0.8);
}

.place-list {
  float: right;
}

.index-tile {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: rgba(185, 140, 103, 1.0);
  background-size: contain;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 50px;
  color: #EDE2D6;
  box-shadow:
    0 1px 2px gray,
    0 -1px 1px gray,
    inset 0 -1px 1px rgba(0,0,0,0.5),
    inset 0 1px 1px rgba(255,255,255,0.8);
}

.trip-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.leg-tile {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  float: right;
  box-shadow: 0px 6px #BAA9DA;
  margin-top: 10px;
  background-color: rgba(185, 140, 103, 1.0);
  background-size: contain;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 50px;
  color: #EDE2D6;
}

.index-tile:hover {
  box-shadow:
    0 1px 2px gray,
    0 -2px 1px gray,
    inset 0 -2px 1px rgba(0,0,0,0.5),
    inset 0 1px 1px rgba(255,255,255,0.8);
}

.trips-index {
  margin-top: 3%;
  color: #8162BC;
}

.trips-index-container {
  border-style: dashed;
  border-width: thin;
  border-top-color: gray;
  border-left-color: gray;
  border-right-color: gray;
  border-bottom-style: hidden;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.some-other {
  margin: 0;
  padding: 0;
}

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3%;
}

.locations {
  text-align: center;
}

.location.start {
  margin-top: 10px;
  border-top-style: solid;
  border-top: #5E66BC;
}

.whole-tile {
  margin-top: 5px;
  width: auto;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.trip-title {
  text-align: center;
}

.trip-description {
  border-left: black;
  border-left-style: solid;
  padding-right: 50px;
}

.new-trip-show {
  color: #644833;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 25px;
}

.welcome {
  color: #644833;
}

.sign-in {
  color: #644833;
  text-align: center;
  font-weight: bold;
  font-size: 25px
}

.fa-check-circle {
  color: green;
  padding-right: 5px;
}

.endpoint {
  border-style: dashed;
  border-width: medium;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

.profile_picture {
  float: right;
  height: auto;
  width: 5%;
}

.top-bar {
  width: 100%;
  height: inherit;
  position: static;
  position: flex;
  align-items: center;
}

.name {
  float: right;
  text-align: right;
}

.destination {
  color: black;
  opacity: 1.0;
  margin-top: 5px;
  margin-left: 10px;
  text-align: center;
}

.add-pic {

}

.current-text {
  position: static;
}

.index-text:hover {
  height: inherit;
}

.places-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
}
.places-form {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.places-ac {
  width: 100%;
}

.stop-border {
  width: 80%;
  border-top: thin solid black;
  display: flex;
  align-items: center;
}

.destination-container {
  display: flex;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.leg-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leg-complete {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.place-container {
  display: flex;
  flex-direction: column;
}

.trip-plan-container {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  width: 100%;
}

.continue {
  width: auto;
}

.trip-types {
  display: flex;
  justify-content: space-between;
  margin-right: 15%;
  margin-left: 15%;
}

.new-trip-button {
  display: flex;
  justify-content: center;
}

.start-trip-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-link:hover {
  color: beige;
}

.container-index {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.trips-index-container:active {
  background-color: rgba(185, 140, 103, 1.0);
}

.trips-index-container:visited {
  background-color: rgba(185, 140, 103, 1.0);
}

.depth {
  box-shadow:
    0 1px 2px gray,
    0 -1px 1px gray,
    inset 0 -1px 1px rgba(0,0,0,0.5),
    inset 0 1px 1px rgba(255,255,255,0.8);
}

.place-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.destination.place {
  color: black;
  text-shadow: 1px;
  font-weight: bold;
}
